<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать сотрудника</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Редактировать сотрудника</h1>

    <form action="#" th:action="@{/api/employees/edit/{id}(id=${employees.id})}" method="post" th:object="${employees}">
        <div class="form-group">
            <label for="full_name">ФИО:</label>
            <input type="text" class="form-control" id="full_name" th:field="*{full_name}" required>
        </div>
        <div class="form-group">
            <label for="position">Должность:</label>
            <input type="text" class="form-control" id="position" th:field="*{position}" required>
        </div>
        <div class="form-group">
            <label for="hire_date">Дата найма:</label>
            <input type="date" class="form-control" id="hire_date" th:field="*{hire_date}" required>
        </div>
        <div class="form-group">
            <label for="salary">Зарплата:</label>
            <input type="number" class="form-control" id="salary" th:field="*{salary}" required>
        </div>
        <div class="form-group">
            <label for="education">Образование:</label>
            <input type="text" class="form-control" id="education" th:field="*{education}" required>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <a href="/api/employees" class="btn btn-secondary">Назад к списку сотрудников</a>
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>