<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Сотрудники</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Список сотрудников</h1>
  <form action="/api/employees/create" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="full_name">ФИО:</label>
      <input type="text" class="form-control" id="full_name" name="full_name" required>
    </div>
    <div class="form-group">
      <label for="position">Должность:</label>
      <input type="text" class="form-control" id="position" name="position" required>
    </div>
    <div class="form-group">
      <label for="hire_date">Дата найма:</label>
      <input type="date" class="form-control" id="hire_date" name="hire_date" required>
    </div>
    <div class="form-group">
      <label for="salary">Зарплата:</label>
      <input type="number" class="form-control" id="salary" name="salary" required>
    </div>
    <div class="form-group">
      <label for="education">Образование:</label>
      <input type="text" class="form-control" id="education" name="education" required>
    </div>

    <button type="submit" class="btn btn-primary">Добавить сотрудника</button>
  </form>

  <form method="get" action="/api/employees/search" class="form-inline mb-4">
    <div class="form-group mr-2">
      <input type="text" class="form-control" name="fullName" placeholder="ФИО">
    </div>
    <div class="form-group mr-2">
      <input type="text" class="form-control" name="position" placeholder="Должность">
    </div>
    <button type="submit" class="btn btn-primary">Поиск</button>
  </form>




  <table class="table mt-4">
    <thead>
    <tr>
      <th>ФИО</th>
      <th>Должность</th>
      <th>Дата найма</th>
      <th>Зарплата</th>
      <th>Образование</th>
      <th>Действия</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
      <td th:text="${employee.full_name}"></td>
      <td th:text="${employee.position}"></td>
      <td th:text="${#dates.format(employee.hire_date, 'dd.MM.yyyy')}"></td>
      <td th:text="${employee.salary}"></td>
      <td th:text="${employee.education}"></td>
      <td><a class="btn btn-secondary" th:href="@{/api/employees/{id}(id=${employee.id})}">Детали</a></td>
      <td><a class="btn btn-secondary" th:href="@{/api/employees/edit/{id}(id=${employee.id})}">Редактировать</a></td>
      <td><a class="btn btn-danger" th:href="@{/api/employees/delete/{id}(id=${employee.id})}"
             onclick="return confirm('Вы уверены, что хотите удалить?');">Удалить</a></td>
    </tr>
    </tbody>
  </table>

  <a href="/" class="btn btn-secondary">Назад</a>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
